<!DOCTYPE html>
<html>
<head>
  <title>SnAreas</title>
  <%= stylesheet_link_tag    "sn_areas/application" %>
  <%= javascript_include_tag "sn_areas/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
